<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <form action="">
            <fieldset>
                <legend>Substring</legend>

                <form action="">
                    <label for="string">String</label>
                    <input type="text" id="string" />
                    <br />
                    <br />
                    <label for="startIndex">start index</label>
                    <input type="text" id="startIndex" />
                    <br />
                    <br />
                    <label for="endIndex">end index</label>
                    <input type="text" id="endIndex" />
                    <br />
                    <br />

                </form>

            </fieldset>
        </form>
    </section>
</body>
</html>