.vector12{
    position: absolute;
    left: 2.6%;
    right: 77.59%;
    top: 4.9%;
    bottom: 56.27%;
}

.vector10{
    position: absolute;
left: 24.74%;
right: 55.45%;
top: 4.9%;
bottom: 56.25%;
}
.vector11{
    position: absolute;
left: 46.88%;
right: 33.31%;
top: 4.9%;
bottom: 56.25%;
}