.work{
    padding: 96px 0px;
}
.work h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 86px;
  margin-bottom: 96px;

  color: #364f6b;
}
.work-btn{
    margin-top: 64px;
}

@media (max-width: 576px){
  .work{
    padding: 45px 15px;
  }
  .work h2{
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 45px;
  }

  .work-btn{
    margin-top: 32px;
}
}